body, html {
	height: 100%;
	margin: 0;
}

main {
	height: 100%;
}

/* common styles for all background classes */
[class|="background"] {
	position: relative;
	/*parallax effect */
	background-attachment: fixed;  
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
}

.background-intro {
	min-width: 100%;
	opacity: 0.5;
}

/* intro progress bar */
.progress-bar-background {
	width: 100%;
	background-color: #ddd;
	/* vertically align the bar */
	margin: 0;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.intro-progress-bar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

.background-top {
	min-width: 100%;
	background-image: url("images/background-1.jpeg");
	
	
/*	top: -100%;*/
	/* hidden by default */
	/*display: none;*/
	/*opacity: 0;*/
	
	/* allow moving background */
	/*background-size: calc(100% + 50px); */
	
	/*animation: animatedBackground 4s linear;*/
	/* blur background */
/*	-webkit-filter: blur(2px);  Safari 6.0 - 9.0 
    filter: blur(2px);*/
}

/* top navivation bar */
#top-nav {
	background-color: transparent;
	min-height: 50px;*/
}

/* controlled how top-nav is changed */
.top-nav-changed {
	animation-name: top-nav-changed;
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes top-nav-changed {
    from {background-color: transparent;}
    to {background-color: rgb(155, 41, 0);}
}

/* brand */
.brand {
	color: #f5f5f5;
	padding-left: 5%;
	padding-top: 10px;
	text-transform: uppercase;
	/*opacity: 0;*/
}

/* x-icon */
.x-icon {
    display: inline-block;
    cursor: pointer;
    z-index: 100; /* make sure icon is always on top */
    position: absolute;
    top: 10%;
    right: 10%;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #f5f5f5;
    margin: 6px 0;
    transition: 0.4s;
}

.x-icon-change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.x-icon-change .bar2 {opacity: 0;}

.x-icon-change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.header {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -30%);
}

.name-header {
	letter-spacing: 10px;
	font-size: 5rem;
	opacity: 0; /* Hide by default */
}

.role-header {
	font-size: 2rem;
	opacity: 0; /* Hide by default */
  	overflow: hidden; /* Ensures the content is not revealed until the animation */
  	white-space: nowrap; /* Keeps the content on a single line */
  	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  	letter-spacing: .15em; /* Adjust as needed */
}

/* transition icon */
.transition-icon {
	/* creat round cirle */
	border-radius: 50%;
	border: 2px solid #fff;
	width: 50px;
	height: 50px;
	/* position to centre bottom */
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, 0);
	display: none;
}

.arrow-down {
	border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    position: absolute;
	top: 50%;
	left: 35%;
    transform: rotate(45deg) translate(-50%, -50%);
    animation-name: blink-icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.arrow-up {
	border: solid #000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    position: absolute;
	top: 20%;
	left: 35%;
    transform: rotate(-135deg) translate(-50%, -50%);
    animation-name: blink-icon;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.about-me {
	position: relative;
	top: 70px;
	display: none;
}

[id*="web"] {
	opacity: 0; /* hide by default */
}

#website {
	transition: opacity 1s;
}
#web-application {
	transition: opacity 2s;
}
#web-api {
	transition: opacity 3s;
}

.fade-in {
	opacity: 1;
}

/* to top icon */
.to-top-container {
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	cursor: pointer;
	display: none;
}
.to-top-icon {
	border-radius: 15px;
	border: 2px solid #fff;
	width: 50px;
	height: 50px;
	background-color: #d8d8d8;
	position: relative;
}
.to-top-icon:hover {
	background-color: #555;
}
.to-top-icon:hover .arrow-up {
	border-color: #fff;
}

/* timeline */
.timeline {
	background-color: #474e5d;
	position: relative;
	max-width: 1200px;
	margin: 0 auto 8rem auto;
}
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: #fff;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}
.timeline-item {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}
.timeline-item::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	top: 17px;
	right: -13px;
	background-color: #fff;
	border: 4px solid #ff9f55;
	border-radius: 50%;
	z-index: 1;
}
.timeline-left {
	left: 0;
}
.timeline-right {
	left: 50%;
}
/* Add arrows to the left container (pointing right) */
.timeline-left-arrow::before {
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	top: 22px;
	right: 30px;
	z-index: 1;
	border: medium solid #fff;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #fff;
}
/* Add arrows to the right container (pointing left) */
.timeline-right-arrow::before {
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    top: 22px;
    left: 30px;
    z-index: 1;
    border: medium solid #fff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
}
/* Fix the circle for containers on the right side */
.timeline-right::after {
    left: -13px;
}
.timeline-content {
    padding: 10px 10px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    opacity: 0;
}
.timeline-row {
	position: relative;
	top: 70px;
}
/*.year-2017 {
	transition: opacity 2s;
}
.year-2012 {
	transition: opacity 4s;
}
.year-2011 {
	transition: opacity 6s;
}
.year-2009 {
	transition: opacity 8s;
}*/
/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
	/* Place the timelime to the left */
	.timeline::after {
	  left: 31px;
	}
	
	/* Full-width containers */
	.timeline-item {
	  width: 100%;
	  padding-left: 70px;
	  padding-right: 25px;
	}
	
	/* Make sure that all arrows are pointing leftwards */
	.timeline-item::before {
	  left: 60px;
	  border: medium solid #fff;
	  border-width: 10px 10px 10px 0;
	  border-color: transparent #fff transparent transparent;
	}

	/* Make sure all circles are at the same spot */
	.timeline-left::after, .timeline-right::after {
	  left: 15px;
	}
	
	/* Make all right containers behave like the left ones */
	.timeline-right {
	  left: 0%;
	}
}

/* gallery */
.gallery {
	position: relative;
	top: 60px;
}

img.gallery {
	width: 246px;
	height: 160px;
}

.card {
	opacity: 0;
}

/* location */
.map {
	position: relative;
	top: 70px;
}
#map {
	height: 530px;
}


.line-breaker {
	border-bottom: 1px solid rgb(155, 41, 0);
	width: 150px;
}

a.link {
	text-decoration: none;
	color: rgb(155, 41, 0);
}
a.link:hover {
	border-bottom: 1px dotted rgb(155, 41, 0);
}

.orange {
	color: rgb(155, 41, 0);
}

/* side navigation */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

@keyframes animatedBackground {
	from { background-position: 50% 0; }
	to { background-position: center; }
}

.caption {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: 10%;
}

/* footer */
#footer {
	background-color: #000;
	padding: 0.5rem;
}

#footer a {
  text-decoration: none;
  color: #818181;
  transition: 0.3s; }

#footer a:hover {
  color: #f1f1f1; }

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  10% { border-color: #fff; }
}

/* The transition icon effect */
@keyframes blink-icon {
	0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    100% {opacity: 1;}
}


@media only screen and (max-device-width: 1024px) {
	/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
    [class|="background"]  {
        background-attachment: scroll;
    }
}

@media only screen and (max-device-width: 768px) {
	.name-header {
		letter-spacing: 1px;
		font-size: 2rem;
		width: 100%;
	}
	.role-header {
		font-size: 1rem;
	  	white-space: normal;
	  	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	  	letter-spacing: .1rem; /* Adjust as needed */
	}
}